# Don't edit me, please modify file env

# git
IF_CHECK_URL=0

# 用户 git 项目根目录，覆盖后 gitarc/gitclone 会将项目归档/克隆到该目录
HALL_GIT_REPO_PATH=${HOME}/git-repo

# proxy
PROXY_ADDR=

# 日志级别：DEBUG/INFO/SUCCESS/WARNING/ERROR
HALL_LOG_LEVEL=INFO
